extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Forgot Password
        form(method="post")

            p.errorMessage #{errorMessage}

            input(type="email", name="email", placeholder="Email", value=email required="")

            input(type="submit", value="Reset Password")

        a(href="/login") Remembered your password? Login here.
